<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LockerAllocation.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LockerAllocation.My.MySettings>
            <setting name="SQLServerLocation" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="SQLDatabaseName" serializeAs="String">
                <value>LockerAllocation</value>
            </setting>
            <setting name="SQLTrustedConnection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SQLConnectionUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLConnectionPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLServerName" serializeAs="String">
                <value>SQLEXPRESS</value>
            </setting>
        </LockerAllocation.My.MySettings>
    </userSettings>
</configuration>